<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />
        {{#unless posts}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Post ID</th>
                    <th>Title</th>
                    <th>Post Date</th>
                    <th>Category</th>
                    <th>Published</th>
                </tr>

                {{#each posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{postDate}}</td>
                    <td>{{category}}</td>
                    <td>{{published}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>
</div>