<div class="row">
    <div class="col-md-12">
        <h2>Posts <a href="/posts/add" class="btn btn-success pull-right">Add Post</a></h2>
        <hr />
        {{#unless posts}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Post ID</th>
                    <th>Title</th>
                    <th>Post Date</th>
                    <th>Category</th>
                    <th>Published</th>
                    <th></th>
                </tr>

                {{#each posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{#formatDate postDate}}{{/formatDate}}</td>
                    <td>{{category}}</td>
                    <td>{{published}}</td>
                    <td><a href="/posts/delete/{{id}}" class="btn btn-danger">Remove</a></td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>
</div>